body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  h1{
    text-align: center;
    color: cyan;
    text-decoration: underline black;
  }
  table{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: 2px solid;
    text-align: center;
    border-collapse: collapse;
    
  }
  th{
    background-color: skyblue;
  }
  tr{
    background-color: lightpink;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
